# Terraform secrets & state
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment files
.env
*.pem
*.key

# n8n
CLAUDE.md
